.play_button{
    -fx-background-color: linear-gradient(#F8E13D, #D17D2B);
    -fx-background-radius: 2%;
}
.buy_button{
    -fx-background-color: #565033;
    -fx-background-radius: 2%;
}
.produce_button{
    -fx-background-color: #cec4a6;
    -fx-background-radius: 2%;
}
.end_turn_button{
    -fx-background-color: #9a3737;
    -fx-background-radius: 2%;
}